{% extends 'base.html' %}

{% block title %}You Are Logged In{% endblock %}

{% block content %}

    <h1>Json Response Example</h1>

    <br>

    <div class="container">
        <dl>
            <dt>Account Balance</dt>
            <dd id="account_balance">N/A</dd>
            {% for i in "6543210" %}
            <dt>
                <button onclick="make_a_guess({{i}}, 0)" class="btn btn-primary btn-disabled" id="account_balance_{{i}}_0">?</button>
            </dt>
            <dd>
                <button onclick="make_a_guess({{i}}, 1)" class="btn btn-primary btn-disabled" id="account_balance_{{i}}_1">?</button>
            </dd>
                <br>
            {% endfor %}
        </dl>
    </div>

    <script type="text/javascript" charset="utf-8">
        function make_a_guess(level, guess) {
            var guess_request = { };
            guess_request['level'] = level;
            guess_request['guess'] = guess;
            $.ajax({
                type :  "POST",
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(guess_request),
                url  :  "{% url 'play' %}",
                success: function(e) {
                        json = JSON.parse(e)
                        $('#account_balance').html(json.body.accountBalance)
                        current_level = json.body.currentLevel
                        for (i = 0; i < 7; i++) {
                            if (i < current_level ) {
                            <!--disable this level, show result-->
                                $('#account_balance_'+i+'_0').html(json.body.result[i][0])
                                $('#account_balance_'+i+'_1').html(json.body.result[i][1])
                                $('#account_balance_'+i+'_0').prop('disabled', true)
                                $('#account_balance_'+i+'_1').prop('disabled', true)
                            }
                            else if ( i == current_level) {
                            <!--only enable this level-->
                                $('#account_balance_'+i+'_0').prop('disabled', false)
                                $('#account_balance_'+i+'_1').prop('disabled', false)
                            }
                            else {
                            <!--disable this level-->
                                $('#account_balance_'+i+'_0').prop('disabled', true)
                                $('#account_balance_'+i+'_1').prop('disabled', true)
                            }
                        }
                    }
            })
        }

    </script>

    <script type="text/javascript" charset="utf-8">
        window.onload = function() {
            make_a_guess(-1,-1)
        };
    </script>

{% endblock %}
