{% extends 'base.html' %}

{% block title %}You Are Logged In{% endblock %}

{% block content %}

    <h1>Json Response Example</h1>

    <dl>
        <dt>Account Balance</dt>
        <dd id="account_balance">N/A</dd>
    </dl>

    <div class="container">
        {% for i in "6543210" %}
            <button onclick="make_a_guess({{i}}, 0)" class="btn btn-primary">0</button>
            <button onclick="make_a_guess({{i}}, 1)" class="btn btn-primary">1</button>
            <br>
        {% endfor %}

    </div>

    <script type="text/javascript" charset="utf-8">
        function make_a_guess(level, guess) {
            var guess_request = { };
            guess_request['level'] = level;
            guess_request['guess'] = guess;
            $.ajax({
                type :  "POST",
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(guess_request),
                url  :  "{% url 'play' %}",
                success: function(e) {
                    json = JSON.parse(e)
                    $('#account_balance').html(json.body.accountBalance)
                    }
            })
        }

    </script>

{% endblock %}
