{% extends 'base.html' %}

{% block title %}You Are Logged In{% endblock %}

{% block content %}

    <h1>Json Response Example</h1>

    <p id="account_balance">N/A</p>
    <div class="container">
        <button onclick="make_a_guess(0)" class="btn btn-primary">0</button>
        <button onclick="make_a_guess(1)" class="btn btn-primary">1</button>
    </div>

    <script type="text/javascript" charset="utf-8">
        $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        function make_a_guess(guess) {
            var guess_request = { };
            guess_request['guess'] = guess;
            $.ajax({
                type :  "POST",
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(guess_request),
                url  :  "{% url 'play' %}",
                success: function(e) {
                    json = JSON.parse(e)
                    $('#account_balance').html(json.body.accountBalance)
                    }
            })
        }

    </script>

{% endblock %}
